<div class="">
  <div
    class="mycontainer d-flex align-items-center p-32 justify-content-between"
  >
    <div class="d-flex">
      <h1 class="fs-2 d-inline-block m-0 me-5">Admin</h1>
      <div class="d-flex align-items-center">
        <span class="material-icons me-2 primary-green"> add </span>
        <h2 class="fs-6 m-0">Add New Admin</h2>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <span class="material-icons"> search </span>
      <span class="material-icons ms-4"> notifications_active </span>
    </div>
  </div>
</div>
