<nav class="nav flex-column vh-100 bg-secondary">
  <img
    width="220px"
    src="../assets/images/logo-ANSWER.svg"
    alt="logo"
    class="cursor m-32"
  />
  <a class="nav-link d-flex active" aria-current="page" href="#"
    ><span class="material-icons pe-3"> insert_chart </span>Dashboard</a
  >
  <a class="nav-link d-flex" href="#"
    ><span class="material-icons pe-3"> forum </span>Question</a
  >
  <a class="nav-link d-flex" href="#"
    ><span class="material-icons pe-3"> assignment </span>Assignment</a
  >
  <a class="nav-link d-flex" href="#"
    ><span class="material-icons pe-3"> video_library </span>Course</a
  >
  <a class="nav-link d-flex" href="#"
    ><span class="material-icons pe-3"> group </span>Admin</a
  >
  <a class="nav-link d-flex" href="#"
    ><span class="material-icons pe-3"> settings </span>Settings</a
  >
</nav>
